<template>
  <div id="app">
    <div class="gitlab-corner">
      <a href="https://gitlab.com/animalmixing/animalMixing.gitlab.io"><div class="gl_logo"></div></a>
    </div>
    <transition name="fade">
      <div class="player-row"
          v-if="readyStateComplete">
        <youtube
            ref="video_player"
            player-width="100%"
            player-height="100%"
            :videoId="videoId"
            :playerVars="{
              'autoplay': 1,
            }"
            host="https://www.youtube-nocookie.com"
            @ended="videoEnded"/>
        <p>Next song will play {{ getHumanTimeToPlay() }}</p>
        <UiButton
            icon="➡"
            icon-position="left"
            size="large"
            color="primary"
            @click="playNewVideo">
          <span>Next</span>
        </UiButton>

        <div class="thanks">Wallpaper thanks to <a href="https://catwithmonocle.com/">Cat With Monocle</a></div>
      </div>
    </transition>

    <transition name="fade">
      <div class="controls-row"
          v-if="readyStateComplete">
        <h1>Controls</h1>
        <p>Select the games you want to hear the OST from</p>
        <UiCheckboxGroup
            v-if="gamesSelected.length && gamesSelected[0] !== 0"
            :options="gamesDisplay"
            v-model="gamesSelected"
            v-bind:key="gamesSelected.toString()"/>
        <div
            class="hidden warning"
            v-bind:class="{active: this.gamesSelected.length === 1}">
          <span>
            You need to select at least 1 game OST
          </span>
        </div>

        <p>Select the moods you want to hear</p>
        <UiCheckboxGroup
            v-if="moodsDisplay.length"
            :options="moodsDisplay"
            v-model="moodsSelected"
            v-bind:key="moodsSelected.toString()"/>
        <div
            class="hidden warning"
            v-bind:class="{
              active: (moodsSelected.length === 1)
            }">
          <span>
            You have to listen to at least 1 mood
          </span>
        </div>

        <p>Select how often you want to listen to the songs</p>
        <UiSlider
            v-if="frecuency !== null"
            v-model="frecuency"
            snapToSteps
            :step="20"/>
        <div
            class="hidden warning active"
            v-if="frecuency !== null">
          <span v-if="Math.floor(this.frecuency / 20) === 1">
            You will only hear a song every 30 minutes
          </span>
          <span v-else-if="Math.floor(this.frecuency / 20) === 2">
            You will only hear a song every 15 minutes
          </span>
          <span v-else-if="Math.floor(this.frecuency / 20) === 3">
            You will only hear a song every 10 minutes
          </span>
          <span v-else-if="Math.floor(this.frecuency / 20) === 4">
            You will only hear a song every 5 minutes
          </span>
          <span v-else-if="Math.floor(this.frecuency / 20) === 5">
            You will hear the OST non-stop
          </span>
          <span v-else>
            You will only hear the hourly songs
          </span>
        </div>
        
        <!-- Snackbar alerts -->
        <UiSnackbarContainer
            ref="snackbarContainer"
            position="left"
            transition="slide" />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { UiCheckboxGroup, UiSnackbarContainer, UiButton, UiSlider } from "keen-ui";

export default {
  name: 'App',
  components: {
    UiCheckboxGroup,
    UiSnackbarContainer,
    UiButton,
    UiSlider,
  },
  data() {
    return {
      vidCanBeChanged: false,
      readyStateComplete: false,
      videoId: '',
      lastHour: null,
      hourlyMusic: {},
      games: {},
      gamesDisplay: [],
      gamesSelected: [0],
      moods: {},
      moodsDisplay: [],
      moodsSelected: [0],
      osts: {},
      frecuency: null,
      secondsUntilNextSong: 0,
      fTimeout: null,
      canPlayNewVideo: true,
    };
  },
  mounted() {
    document.onreadystatechange = () => {
      if (document.readyState == "complete") {
        this.readyStateComplete = true;
      }
    }
  },
  created() {    
    let startPromises = [];
    // Load the hourly music IDs
    startPromises.push(fetch("/json/hourlyMusic.json")
      .then((res) => {return res.json()})
      .then((data) => {this.hourlyMusic = data;})
    )

    // Load the game titles and internal representation
    startPromises.push(fetch("/json/games.json")
      .then((res) => {return res.json()})
      .then((data) => {
        // I save the games in case I need them later
        this.games = data;

        // Here, I sync the controls with the localstorage
        if (localStorage.gamesSelected)
          this.gamesSelected = localStorage.gamesSelected.split(',');
        else
          this.gamesSelected = Object.keys(data);
        
        // Here I prepare the display options for the controls
        this.gamesDisplay = Object.keys(data).map((key) => {
          return {
            'label': this.games[key],
            'value': key
          }
        });
      })
    )

    // Load the game osts' IDs
    startPromises.push(fetch("/json/osts.json")
      .then((res) => {return res.json()})
      .then((data) => {this.osts = data;})
    )

    // Load the possible osts' moods
    startPromises.push(fetch("/json/moods.json")
      .then((res) => {return res.json()})
      .then((data) => {
        // I save the games in case I need them later
        this.moods = data;

        // Here, I sync the controls with the localstorage
        if (localStorage.moodsSelected)
          this.moodsSelected = localStorage.moodsSelected.split(',');
        else
          this.moodsSelected = Object.keys(data);

        // Here I prepare the display options for the controls
        this.moodsDisplay = Object.keys(data).map((key) => {
          return {
            'label': this.moods[key],
            'value': key
          }
        });
      })
    )

    // When all required data is loaded, we start to play music!
    Promise.all(startPromises)
      .then(() => {this.playNewVideo()})
    
    // Here, I sync the frecuency with the localstorage
    if (localStorage.frecuency !== null)
      this.frecuency = parseInt(localStorage.frecuency);
    else
      this.frecuency = 100;

    // I want to always count the time till next song
    // The timing on this is approximated, but nothing more is required
    setInterval(() => {
      this.secondsUntilNextSong -= 1

      this.tryPlayNewVideo()
      if (this.lastHour != (new Date().getHours())) this.playNewVideo()
    }, 1000)
  },
  methods: {
    chooseVideoID(ids) {
      this.videoId = ids[~~(Math.random() * ids.length)];
    },
    getPossibleOST(gameReps = this.gamesSelected, moodsReps = this.moodsSelected) {
      // If the arrays haven't been initialized, don't bother
      if (JSON.stringify(this.gamesSelected) === JSON.stringify([0])) return
      if (JSON.stringify(this.moodsSelected) === JSON.stringify([0])) return
      let gameOSTs = [].concat.apply([], gameReps.map((key) => this.osts[key]));
      let possibleMusic = [].concat.apply([], gameOSTs.map(gameOST =>
        [].concat.apply([], moodsReps.map(mood =>
          gameOST[mood]
        ))
      ));
      return possibleMusic;
    },
    getNextTimeToPlay() {
      let relative = Math.floor(this.frecuency / 20)
      if (relative < 1) return 60 * 60
      if (relative < 2) return 60 * 30
      if (relative < 3) return 60 * 15
      if (relative < 4) return 60 * 10
      if (relative < 5) return 60 * 5
      else return 0
    },
    getHumanTimeToPlay() {
      let min = Math.floor(this.secondsUntilNextSong/60);
      let minS = min.toString();
      let sec = this.secondsUntilNextSong%60;
      let secS = sec.toString();
      if (sec < 10) secS = '0' + secS;
      if (Math.floor(this.frecuency / 20) < 1) return 'next hour'
      if (min>=0 && sec>0) return `in ${minS}:${secS} ${min? 'minutes': 'seconds'}`;
      else return 'as soon as the current one is over';
    },
    tryPlayNewVideo() {
      if (!(this.secondsUntilNextSong <= 0 && this.canPlayNewVideo)) return
      else this.playNewVideo()
    },
    playNewVideo() {
      this.secondsUntilNextSong = this.getNextTimeToPlay()
      this.canPlayNewVideo = false
      let now = new Date();
      if (this.lastHour !== now.getHours()) {
        this.lastHour = now.getHours();
        let gameReps = this.gamesSelected;
        let possibleMusic = [].concat.apply([], gameReps.map(game => this.hourlyMusic[game][this.lastHour]));
        this.chooseVideoID(possibleMusic);
      } else {
        this.chooseVideoID(this.getPossibleOST());
      }
    },
    videoEnded() {
      this.canPlayNewVideo = true;
      this.tryPlayNewVideo();
    },
    noCombintaionsAvaliable() {
      this.$refs.snackbarContainer.createSnackbar({
          message: "Performing this action would leave no songs to play",
          duration: 3000
      });
    }
  },
  watch: {
    gamesSelected: {
      handler: function(newGames, oldGames) {
        // If the arrays haven't been initialized, don't bother
        if (JSON.stringify(this.gamesSelected) === JSON.stringify([0])) return
        if (JSON.stringify(this.moodsSelected) === JSON.stringify([0])) return

        // Enforcing a constant non-zero list of music to play
        if (!this.getPossibleOST(newGames, this.moodsSelected).length) {
          this.noCombintaionsAvaliable()
          this.$nextTick(() => {
            this.gamesSelected = oldGames;
          })
        }

        // Save to localstorage on change
        localStorage.gamesSelected = newGames;
      }
    },
    moodsSelected: {
      handler: function(newMoods, oldMoods) {
        // If the arrays haven't been initialized, don't bother
        if (JSON.stringify(this.gamesSelected) === JSON.stringify([0])) return
        if (JSON.stringify(this.moodsSelected) === JSON.stringify([0])) return

        // Enforcing a constant non-zero list of music to play
        if (!this.getPossibleOST(this.gamesSelected, newMoods).length) {
          this.noCombintaionsAvaliable()
          this.$nextTick(() => {
            this.moodsSelected = oldMoods;
          })
        }

        // Save to localstorage on change
        localStorage.moodsSelected = newMoods;
      },
    },
    frecuency: {
      handler: function(newF) {
        localStorage.frecuency = newF;
      }
    }
  }
};
</script>

<style lang="scss">
*,
*::before,
*::after {
    box-sizing: border-box;
}

.gitlab-corner {
  position: absolute;
  right: 0;
  top: 0;
  backdrop-filter: blur(2px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent rgba(0,0,0,.2) transparent transparent;
  transition: border-width 0.5s;

  &:hover {
    border-width: 0 60px 60px 0;
  }

  .gl_logo {
    background-image: url('/img/gl_logo.svg');
    background-size: 100%;
    height: 50px;
    width: 50px;
    transition: height 0.5s, width 0.5s;

    &:hover {
    height: 60px;
    width: 60px;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

html {
  font-size: 100%;
  width: 100%;
  background-image: url('/img/bg.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: grid;
  grid-template-areas: "player controls";
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;

  .player-row {
    position: relative;
    grid-area: player;
    background-color: rgba(100,100,100,.2);
    padding: 1rem 3em;
    border-radius: 6px;

    iframe {
      min-height: 300px;
    }

    p {
      margin-block-start: 0;
    }

    button.ui-button {
      span {
        margin-right: 0.5rem;
      }
    }
  }

  .controls-row {
    grid-area: controls;
    background-color: rgba(100,100,100,.2);
    padding: 2em 3em;
    border-radius: 6px;

    h1 {
      margin: 0;
      margin-inline-start: 1em;
      text-align: start;
    }

    p {
      margin: 0;
      text-align: start;
      margin-top: 0.8em;
    }

    .hidden {
      transition: max-height 1s ease-in-out;  
      overflow: hidden;
      max-height: 0px;
      font-size: 0.8em;
      text-align: start;

      &.active {
        max-height: 100%;
      }

      &.alert {
        color: #F31431;
      }

      &.warning {
        color: #066B80;
      }
    }

    .ui-checkbox-group__checkboxes {
      display: grid;
      grid-gap: 3px;
      grid-template-columns: repeat(auto-fill, 49%);

      .ui-checkbox.ui-checkbox-group__checkbox {
        margin: 0;

        .ui-checkbox__label-text {
          white-space: nowrap;
        }
      }
    }
  }

  .thanks {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 768px) {

  .gitlab-corner {
    border-width: 0 30px 30px 0;

    &:hover {
      border-width: 0 30px 30px 0;
    }

    .gl_logo {
      height: 30px;
      width: 30px;

      &:hover {
      height: 30px;
      width: 30px;
      }
    }
  }
  
  #app {
    grid-template-areas:
      "player"
      "controls";
    grid-template-columns: 1fr;
    grid-gap: 3vw;
    margin-top: 20px;

    .player-row {
      iframe {
        min-height: 200px;

      }
    }

    .controls-row {
      h1 {
        margin: 0;
        text-align: center;
      }
    }

  }
}
</style>
